.contact-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    img {
        transform: scale(0.9);
    }
    .edit-link {
        margin: 15px auto 20px;
        font-family: Cambria;
        font-weight: 600;
        font-size: 20px;
        color: rgba(211, 183, 122, 0.699);
    }
}
