.signup-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    img {
        margin: auto;
        width: 200px;
        height: 150px;
    }
    input {
        padding: 5px;
    }
    button {
        margin-top: 5px;
        background-color: rgb(219, 219, 219);
        font-weight: 600;
        font-size: 1rem;
        &:hover {
            opacity: 0.8;
        }
    }
}
