// Colors
$clr1: #282c34;
$clr2: #414d61;
$clr3: #5c3fc5;
$clr4: #696969;
$clr5: rgb(186, 197, 231);

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;
